        <h1>Bölümler</h1>
<a class="nav-link" style="font-size: 25px;" href="/admin">Yönetim Paneli</a>
<a class="nav-link" style="font-size: 25px;" href="/admin/categories">Kategoriler</a>
<a class="nav-link" style="font-size: 25px;" href="/admin/ilanlar">İlanlar</a>
<a class="nav-link" style="font-size: 25px;" href="/ilanlar/ekle">İlan Ekle</a>
<a class="nav-link" style="font-size: 25px;" href="/users/5fbe775bc64faa0588f27f55/75bc64faa0588/88f27f">Kullanıcı Oluştur</a>
