  <footer>
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">
<br>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Timurhan Gayrimenkul</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <img src="/img/logo.png" alt="">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Kategoriler</h6>
                    <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="/portfolyo">Arsa</a>
                    </p>
                    <p>
                        <a href="/portfolyo">Konut</a>
                    </p>
                    <p>
                        <a href="/portfolyo">İş yeri</a>
                    </p>
                    <p>
                        <a href="/portfolyo">Bina</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Yönlendirmeler</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="/">Anasayfa</a>
                    </p>
                    <p>
                        <a href="/portfolyo">İlanlarımız</a>
                    </p>
                    <p>
                        <a href="/hakkimizda">Hakkımızda</a>
                    </p>
                    <p>
                        <a href="/iletisim">İletişim</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">ILETISIM</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Gaffar, 40300 Kaman/Kırşehir</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 0 (386) 712 57 75</p>
                    <p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12339.54450119184!2d33.7229783!3d39.3588153!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x322d90856f72ce43!2sKaman%20Timurhan%20Emlak!5e0!3m2!1str!2str!4v1606067167806!5m2!1str!2str"
                            width="400" height="200" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://www.instagram.com/minorsoftware/"> MİNOR SOFTWARE</a>
        </div>
        <!-- Copyright -->

    </footer>